html,
body {
    color: black;
}

.react-slate-wysiwyg {
    display: block;
    min-height: max-content;
}

.wysiwyg-editor-toolbar button {
    padding: 5px 10px;
    border: 1px black solid;
    border-radius: 2px;
    box-shadow: none;
    background-color: lightgray;
    font-size: 20px;
}

.wysiwyg-editor-toolbar select {
    padding: 7px 5px;
    border: 1px black solid;
    border-radius: 2px;
    box-shadow: none;
    background-color: lightgray;
    font-size: 20px;
}

.wysiwyg-editor-toolbar button i {
    font-size: 20px;

}
